<h1>Listing books</h1>

<div>
  <div class="row">
    <ul class="list-inline">
      <li class="col-sm-2">Isbn</li>
      <li class="col-sm-1">Title</li>
      <li class="col-sm-1">Author</li>
      <li class="col-sm-1">Price</li>
      <li class="col-sm-1">Category</li>
      <li class="col-sm-1">表紙</li>
      <li class="col-sm-2">Description</li>
      <li class="col-sm-3"></li>
      <li class="col-sm-1"></li>
    </ul>
  </div>

  <% @books.each do |book| %>
    <div class="row">
      <ul class="list-inline">
        <li class="col-sm-2"><%= book.isbn %></li>
        <li class="col-sm-1"><%= book.title %></li>
        <li class="col-sm-1"><%= book.author %></li>
        <li class="col-sm-1"><%= book.price %></li>
        <li class="col-sm-1"><%= book.category.name %></li>
        <li class="col-sm-2"><img src="<%= book.icon_path %>" ></li>
        <li class="col-sm-3"><%= book.description %></li>
        <li class="col-sm-1"><%= link_to '詳細', book, class: 'btn btn-primary' %></li>
        <!--<li class="col-sm-1"><%= link_to 'Edit', edit_book_path(book) %></li>-->
        <!--<li class="col-sm-1"><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></li>-->
      </ul>
    </div>
  <% end %>

</div>

<br>

<%= link_to 'New Book', new_book_path %>
