<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category %>
</p>

<p>
  <strong>Icon path:</strong>
  <%= @book.icon_path %>
</p>

<p>
  <strong>Picture path:</strong>
  <%= @book.picture_path %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Display order:</strong>
  <%= @book.display_order %>
</p>

<!--<%= link_to 'Edit', edit_book_path(@book) %>-->
<%= link_to '戻る', books_path, href: 'javascript:history.back();', class: 'btn btn-success' %>
<%= link_to 'カートに追加', carts_path(@cart), method: :post, class: 'btn btn-primary' %>
